In [410]:
import pandas as pd
import os

In [411]:
!pwd
df=pd.read_csv('../project-pandas/attacks.csv',encoding='latin1')

/c/Users/fhernandezcortez/Documents/mm/Ironhack/Modulo1/project-pandas

In [412]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number2', 'Case Number3', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [413]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number2            6302 non-null   object
 20  Case Number3            6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

(25723, 24)

## Drop columns

In [414]:
df.dtypes #pff muchos object types

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number2               object
Case Number3               object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [415]:
#procediendo a revisar nulos

df.isnull().sum()
df.isnull().head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number2,Case Number3,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [416]:
nulos_columnas= df.isnull().sum()
nulos_columnas

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number2              19421
Case Number3              19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [417]:
nulos_columnas[nulos_columnas > 0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number2              19421
Case Number3              19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [418]:
porcentaje_nulos = nulos_columnas[nulos_columnas > 0]/df.shape[0]
porcentaje_nulos #por el resultado de porcentaje nulos nos damos cuenta de que hay una GRAN cantidad de valores nulos en nuestro df, pero Unname 22 y Unnamed 23 son 100% de datos nulos, procederemos a descartar dichas columnas

porcentaje_nulos

Case Number               0.661704
Date                      0.755005
Year                      0.755083
Type                      0.755161
Country                   0.756949
Area                      0.772694
Location                  0.775998
Activity                  0.776154
Name                      0.763169
Sex                       0.776970
Age                       0.865062
Injury                    0.756094
Fatal (Y/N)               0.775959
Time                      0.885394
Species                   0.865335
Investigator or Source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
Case Number2              0.755005
Case Number3              0.755005
original order            0.754733
Unnamed: 22               0.999961
Unnamed: 23               0.999922
dtype: float64

In [419]:
columnas_a_eliminar=porcentaje_nulos[porcentaje_nulos>0.99].index
columnas_a_eliminar

Index(['Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [420]:
#eliminando columnas 22 y 23
df.drop(columns = columnas_a_eliminar, inplace = True)
df.info() #Case number me esta generando algo de ruido, vamos a ver si tienen los mismos valores que 2 y 3

df['Case Number3'].equals(df['Case Number2'].equals(df['Case Number'])) #no es copia de 2 o Case Number, revisemos que datos contiene
df['Case Number3'].isin(df['Case Number2']).value_counts() #el numero de valores de Case Number 1 que se repiten en Case Number 2, son 25704, son casi similares, procederemos a eliminar Case Number 1 tambien
df.drop(columns = 'Case Number2', inplace = True)
#hagamos lo mismo con la columna Case Number

df['Case Number'].equals(df['Case Number3']) #no son identicos, pero cuantos valores identicos habra?

df['Case Number3'].isin(df['Case Number']).value_counts() #25k valores son iguales de case number.2 a case number, 4 valores unicos, procediendo a eliminar esta columna tambien
df.drop(columns = 'Case Number3', inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number2            6302 non-null   object
 20  Case Number3            6302 non-null   object
 21  original order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [421]:
#por ultimo, hay columnas que no creo que sean representativas o de utilidad para el analisis de datos, como location, age, investigator or source, pdf, href y href formula y original order. La idea (infiero), es encontrar una relacion de cual seria el tiburon mas peligroso, el sexo al cual mas muertes han acontecido
# o bien, el pais donde mas personas han muerto. Sobre esta hipotesis, menos columnas daria mejores resultados

columnas_a_eliminar2=['Age','Investigator or Source','pdf','href formula','href','original order','Location','Date','Year','Name']

df.drop(columns=columnas_a_eliminar2,inplace=True)

In [422]:
df.shape
df.head()

,Case Number,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018.06.08,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,NaN,2 m shark
4,2018.06.04,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

## Country column

In [423]:
#estandarizando la columna de country. en general no esta muy sucia, solamente podriamos actualizar algunos paises
df['Country'].fillna('Unknown',inplace=True)

In [424]:
df['Country'] = df['Country'].str.strip().str.upper()

In [425]:
df["Country"] = df["Country"].replace({"UNITED ARAB EMIRATES (UAE)":"UNITED ARAB EMIRATES",'CEYLON (SRI LANKA)':'SRI LANKA'})
print(set(df['Country']))

{'UNITED KINGDOM', 'NORTH SEA', 'MALAYSIA', 'FALKLAND ISLANDS', 'GREECE', 'IRAQ', 'BERMUDA', 'MALDIVES', 'CARIBBEAN SEA', 'ECUADOR', 'SCOTLAND', 'BAHAMAS', 'RED SEA / INDIAN OCEAN', 'NORTH PACIFIC OCEAN', 'AZORES', 'SOUTH ATLANTIC OCEAN', 'OKINAWA', 'ASIA?', 'SUDAN?', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'TAIWAN', 'CANADA', 'SLOVENIA', 'PALAU', 'BETWEEN PORTUGAL & INDIA', 'ENGLAND', 'NORTH ATLANTIC OCEAN', 'SRI LANKA', 'USA', 'ARGENTINA', 'WESTERN SAMOA', 'ITALY / CROATIA', 'THE BALKANS', 'GHANA', 'NORTHERN MARIANA ISLANDS', 'ANDAMAN / NICOBAR ISLANDAS', 'MID-PACIFC OCEAN', 'JOHNSTON ISLAND', 'INDIAN OCEAN', 'CAYMAN ISLANDS', 'IRAN', 'SEYCHELLES', 'SWEDEN', 'BRITISH ISLES', 'BRITISH VIRGIN ISLANDS', 'AMERICAN SAMOA', 'EGYPT / ISRAEL', 'UNKNOWN', 'TOBAGO', 'PERSIAN GULF', 'TURKS & CAICOS', 'VIETNAM', 'TUNISIA', 'COOK ISLANDS', 'SOUTH PACIFIC OCEAN', 'EGYPT', 'ST. MARTIN', 'CURACAO', 'COSTA RICA', 'SAMOA', 'NORTHERN ARABIAN SEA', 'CUBA', 'GRAND CAYMAN', 'IRAN / IRAQ', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'ISRAEL', 'TONGA', 'TUVALU', 'MONTENEGRO', 'SOLOMON ISLANDS', 'MICRONESIA', 'GUINEA', 'CEYLON', 'SINGAPORE', 'PALESTINIAN TERRITORIES', 'TANZANIA', 'COLUMBIA', 'MARTINIQUE', 'SAN DOMINGO', 'GREENLAND', 'PUERTO RICO', 'SOUTH AFRICA', 'BRITISH NEW GUINEA', 'ROATAN', 'ANTIGUA', 'FRENCH POLYNESIA', 'NAMIBIA', 'MALTA', 'BURMA', 'LIBERIA', 'CAPE VERDE', 'GUYANA', 'REUNION', 'MEXICO', 'COAST OF AFRICA', 'BAY OF BENGAL', 'ATLANTIC OCEAN', 'REUNION ISLAND', 'RED SEA', 'JAMAICA', 'CHILE', 'ST. MAARTIN', 'VANUATU', 'HONG KONG', 'SOUTH CHINA SEA', 'NEW CALEDONIA', 'ADMIRALTY ISLANDS', 'ANGOLA', 'AFRICA', 'GULF OF ADEN', 'SENEGAL', 'CROATIA', 'DJIBOUTI', 'SOMALIA', 'NEW GUINEA', 'OCEAN', 'LIBYA', 'GABON', 'BRAZIL', 'FRANCE', 'SYRIA', 'NIGERIA', 'PAPUA NEW GUINEA', 'DIEGO GARCIA', 'GEORGIA', 'MEDITERRANEAN SEA', 'BRITISH WEST INDIES', 'JAVA', 'NEW ZEALAND', 'INDONESIA', 'YEMEN', 'HAITI', 'IRELAND', 'BELIZE', 'TRINIDAD & TOBAGO', 'NEVIS', 'INDIA', 'MAYOTTE', 'ITALY', 'TURKEY', 'SUDAN', 'ICELAND', 'WEST INDIES', 'PARAGUAY', 'PERU', 'MOZAMBIQUE', 'BAHREIN', 'TASMAN SEA', 'SOUTHWEST PACIFIC OCEAN', 'PACIFIC OCEAN', 'CRETE', 'NEW BRITAIN', 'BANGLADESH', 'NICARAGUA', 'KUWAIT', 'INDIAN OCEAN?', 'RUSSIA', 'GRENADA', 'KIRIBATI', 'FEDERATED STATES OF MICRONESIA', 'VENEZUELA', 'ANDAMAN ISLANDS', 'SOLOMON ISLANDS / VANUATU', 'CYPRUS', 'RED SEA?', 'MID ATLANTIC OCEAN', 'HONDURAS', 'MADAGASCAR', 'KOREA', 'SIERRA LEONE', 'KENYA', 'AUSTRALIA', 'CHINA', 'GUAM', 'SPAIN', 'JAPAN', 'COMOROS', 'SAUDI ARABIA', 'MARSHALL ISLANDS', 'MALDIVE ISLANDS', 'EL SALVADOR', 'ARUBA', 'MONACO', 'PORTUGAL', 'THAILAND', 'EQUATORIAL GUINEA / CAMEROON', 'PANAMA', 'DOMINICAN REPUBLIC', 'URUGUAY', 'NORWAY', 'BARBADOS', 'FIJI', 'PHILIPPINES', 'ALGERIA', 'UNITED ARAB EMIRATES', 'LEBANON', 'MAURITIUS', 'SOUTH KOREA', 'CENTRAL PACIFIC'}

In [426]:
df.Country.value_counts()

UNKNOWN                       19471
USA                            2229
AUSTRALIA                      1338
SOUTH AFRICA                    579
PAPUA NEW GUINEA                134
                              ...
GABON                             1
ANDAMAN / NICOBAR ISLANDAS        1
MALDIVE ISLANDS                   1
PUERTO RICO                       1
ASIA?                             1
Name: Country, Length: 200, dtype: int64

## Fatal column

In [427]:
#revisemos los valores de fatalidad
df['Fatal (Y/N)'].unique()
df['Fatal (Y/N)'].value_counts()

df['Fatal (Y/N)'].unique()
#del value counts nos damos cuenta de tres valores relevantes, Nonfatal, fatal y UNKNOWN, mi estrategia seria agrupar todos los valores bajo estos tres parametros

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [428]:
#estandarizar fatalidad
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].fillna('U')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace(' N', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('N ', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('2017', 'U')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('M', 'N')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('y', 'Y')
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.replace('UNKNOWN', 'U')
df.rename(columns={'Fatal (Y/N)': 'Fatal (Y/N/U)'}, inplace=True)

In [429]:
df['Fatal (Y/N/U)'].unique()
df['Fatal (Y/N/U)'].value_counts()

U    20032
N     4302
Y     1389
Name: Fatal (Y/N/U), dtype: int64

## Age column (al final decidi descartar esta columna de mi Df, pero por la complejidad de las strings no la inclui, imagino que se haria un proceso similar al siguiente)

In [430]:
#estandarizar edades
        
df.age.value_counts()
df["Age"] = df["Age"].replace({"20s":"25", "30s":"35", "teen": "15", "Teen": "15", "mid-30s":"35", "21 or 26":"24", "60's":"65", "60s":"65", "12 or 13":"12", "50s":"55", "9 & 12":"9", "Elderly": "60", "6½":"6"})
df['Age'].fillna('Unknown',inplace=True)

AttributeError: 'DataFrame' object has no attribute 'age'

In [431]:
df.Age = df.Age.fillna("0")

for a in df.Age:
    if len(str(a)) > 2:
        df.Age.replace(a,a[:2],inplace=True)
        
df.Age.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Age'

In [432]:
df['Age'].fillna('Unknown',inplace=True)

KeyError: 'Age'

In [433]:
df.rename(columns={'Species ':'Species'}, inplace=True)

## Sex column

In [434]:
#estandarizar Sex
df.rename(columns={'Sex ':'Sex'}, inplace=True)

In [435]:
set(df['Sex'])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [436]:
df['Sex'].value_counts(dropna=False)

NaN    19986
M       5094
F        637
M          2
N          2
lli        1
.          1
Name: Sex, dtype: int64

In [437]:
df['Sex'] = df['Sex'].str.replace('M ', 'M')
df['Sex'] = df['Sex'].str.replace('.', 'M')
df['Sex'] = df['Sex'].str.replace('lli', 'M')
df['Sex'] = df['Sex'].fillna('U')

C:\Users\fhernandezcortez\AppData\Local\Temp\ipykernel_20028\111697266.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Sex'] = df['Sex'].str.replace('.', 'M')

In [438]:
df['Sex'] = df['Sex'].str.replace('N', 'M')

In [439]:
df['Sex'].value_counts()

U    19986
M     5100
F      637
Name: Sex, dtype: int64

## Species column

In [440]:
df['Species'].fillna('Unknown', inplace=True)

In [446]:


df['Activity']=df[(df['Activity'] == 'Surfing') & (df['Activity'] == 'Swimming') & (df['Activity'] == 'Fishing')]

ValueError: Columns must be same length as key

## Activities column

In [407]:
#df['Activity'] = df[~df.Activity.str.contains(' ')].reset_index(drop=True)

df['Activity'].fillna('Unknown', inplace=True)

df['Activity'] = df['Activity'].str.contains(' ').reset_index(drop=True)

AttributeError: Can only use .str accessor with string values!

In [409]:
df['Activity'].unique()

array([False,  True])

In [361]:
filter_1 = (df['Injury'].str.contains(' board ', na=False, regex=False))
filter_2 = (df['Injury'].str.contains('on board ', na=False, regex=False))
filter_3 = (df['Injury'].str.contains('off board ', na=False, regex=False))
filter_4 = (df['Injury'].str.contains(' surfer ', na=False, regex=False))
df['Injury'] = df[filter_1 & ~filter_2 & ~filter_3 & filter_4]
# ~se utiliza para negar una condición

ValueError: Columns must be same length as key